.redux-toastr {
  .toastr {
    .rrt-left-container{
      width: 40px;
      .rrt-holder{
        width: 30px;
      }
      .toastr-icon{
        width: 20px;
        height: 20px;
      }
    }
    .rrt-middle-container {
      padding-top: 5px;
      margin-left: 40px;
      width: 75%;
      .rrt-title {
        margin-bottom: 0px;
      }
    }
  }
  .rrt-ok-btn {
    background-color: $primary-btn-color !important;
    color: $white;
    font-weight: 600;
    &:active {
      background-color: $primary-btn-color !important;
    }
  }

  .rrt-cancel-btn {
    color: $primary-color !important;
    &:active {
      background-color: $white !important;
    }
  }

  .rrt-confirm-holder .rrt-confirm .rrt-buttons-holder .rrt-button {
    height: 30px !important;
    margin-top: 20px !important;
    border: none !important;
  }

  .rrt-confirm-holder .rrt-confirm .rrt-message {
    padding-top: 8% !important;
    padding-bottom: 1% !important;
    padding: 2%;
  }
}