@import './../../theme/variables.scss';
@import './../../components/FormComponents/FormComponents.scss';
$primary-color:#172B4D; //#02B875;
$secondary-color: #1F9AFF;
$light-grey-background: #F4F5F7;
$dark-grey-background: #EAECF0;
$text-color: #172B4D;
$subtle-text-color: #5e6c84;
$error-color: #FF5766;
$primary-btn-color: #02b875;
$secondary-btn-color: #02B875;
$border-color: #d7dee8;
.opening {
  background: $white; //border: 1px solid rgba(151, 151, 151, 0.16);
  // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  box-shadow: 0 6px 8px 0 rgba(189, 208, 223, 0.5);
  // border: solid 1px $border-color !important;
  min-height: 240px;
  max-height: 240px;
  padding: 0;
  transition: all .2s;
  // &:hover {
  //   box-shadow: 4px 4px 30px 0px rgba(94, 108, 132, 0.2) !important;
  //   border-color: transparent !important;
  //   transform: scale(1.05, 1.05);
  // }
  .content {
    padding: 10px 15px 2px 15px;
    min-height: 180px;
    .cloneDropdown {
      background: transparent !important;
      border: 0;
    }
    .dropDownDiv {
      text-align: right;
      ul {
        top: 22px;
        min-width: 120px;
        a {
          padding: 3px 10px;
        }
      }
    }
    .status_div {
      height: 25px;
      margin-top: 4px;
      color: $subtle-text-color;
      // @include fontSize(0.93em);
      font-size: 13px;
      .status {
        padding: 2px 10px;
        border-radius: 2px;
        text-transform: capitalize;
        &.active {
          background-color: rgba(2, 184, 117, 0.065);
          border: 1px solid $primary-btn-color;
          color: $primary-btn-color;
        }
        &.archived {
          background-color: $light-grey;
          color: $lit-grey-font;
        }
        &.closed {
          background-color:rgba(255, 87, 102, 0.065);;
          color: $error-color;
          border: 1px solid $error-color;
        }
        &.draft {
          background-color: $subtle-text-color;
          color: $subtle-text-color;
        }
      }
    }
    .title {
      height: 21px;
      color: $primary-color;
      //@include fontSize(1.145em);
      font-size: 16px; 
      @include fontWeight('normal');
      width: 100%;
      @extend %textStyles;
    }
    .noOfOpenings {
      height: 20px;
      color: $subtle-text-color;
      text-transform: capitalize;
      @include fontSize(14px);
      @extend %textStyles;
      div {
        display: inline-block;
      }
      span {
        padding: 0 10px;
        @include fontWeight(600);
        //@include fontSize(0.464em);
        font-size: 6.5px;
        position: relative;
        bottom: 2px;
      }
    }
    .company {
      height: 20px;
      color: $subtle-text-color;
      text-transform: capitalize;
      @include fontSize(14px);
      @extend %textStyles;
      width: 100%;
    }
    .report {
      margin-top: 8px;
      position: relative;
      top: 3px;
      .blocks {
        text-align: center;
      }
      .blocks>div {
        border: 1px solid $dark-grey-background;
        border-left: none;
        display: inline-block;
        height: 50px;
        width: 30%;
        padding: 0;
        text-align: center;
        @include fontSize(13px);
        @extend %textStyles;
        &>div {
          padding: 1px;
        }
        &>div:first-child {
          font-size: 17px !important;
          padding-bottom: 0px;
          padding-top: 4px;
          @include fontWeight(200);
          margin-top: -4px;
        }
        &:first-child {
          border-left: 1px solid $dark-grey-background;
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
      .selected {
        color: $black;
      }
      .shortlisted {
        color: $subtle-text-color;
      }
      .contacted {
        color: $secondary-color;
      }
      .hired {
        color: $green;
      }
      .rejected {
        color: $red;
      }
    }
  }
  .footer {
    padding: 0 0 0 15px;
    margin-top: 15px;
    border-top: 1px solid $border-color;
    min-height: 45px;
    // color: $secondary-font-color;
    @include fontWeight(400);
    img {
      // padding-right: 5px;
      padding-top: 10px;
    }
    .bordericon{
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
    }
    span {
      color: $subtle-text-color;
      margin: auto;
    }
    span.recruiter_name,
    span.no_recruiters {
      width: 200px;
      cursor: pointer;
    }
    span.no_recruiters {
      color: $subtle-text-color;
    }
    .edit,
    .search {
      @include fontSize(14px);
      color: $secondary-color;
      margin-left: 10px;
      margin-top: 4px;
      &:focus {
        outline: none;
      }
    }
    .search {
      margin-top: 0;
    }
  }
}
