@import "../../theme/variables.scss";
$border-color: #ddd;

.container {
  padding-bottom:20px !important;
  // margin: 5px 0px 0px 0px;
  background-color: $white;
  border-radius: 2px;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  // border: 1px solid rgba(151, 151, 151, 0.16);
  // height: calc(100vh - 73px);
  overflow-y: auto;
  overflow-x: hidden;
  .tableStyles {
    background-color: $white;
  }
}

.scroll {
  &::-webkit-scrollbar-track {
    background-color : $light-grey-background;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color : $light-grey-background;
  }
}

.editorContainer {
  height: 500px;
  overflow: visible !important;
  .editorWrapper {
    font-family: inherit;
    .DraftEditor-editorContainer {
      span {
        font-family: inherit;
      }
    }
  }
  .editor {
    height: 400px;
    background-color: $white;
    overflow-y: scroll;
    padding: 0 10px;
    font-family: inherit;
    border: 1px solid rgba(151, 151, 151, 0.16);
    @extend .scroll;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: $white;
  }
  ::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c2c2c2;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  .defaultCheckbox {
    margin-top: 10px;
  }
}
.submitBtn {
  width: 150px;
  float: right;
  margin: 10px;
}
.preview {
  padding: 20px;
  height: calc(100vh - 100px);
  background-color: $white;
  overflow-y: scroll;
}
.m_10 {
  // margin-bottom: 10px;
  // margin-top: 10px;
  margin: 10px;
}

.formContainer {
  // height: calc(100vh - 185px);
  background-color: $white !important;
  border: none;
}

.managerContainer {
  height: calc(100vh - 100px);
  overflow: scroll;
  overflow-x: hidden;
  .no_results_found {
    margin: 17% auto;
    img {
      height: 100px;
      width: 100px;
    }
    .sub_head {
      color: $lit-blue-grey-font;
      font-size: 2em;
      font-weight: 400;
      padding: 10px 0;
      text-align: center;
    }
    .empty_message {
      color: $lit-blue-grey-font;
      font-size: 1.5em;
      font-weight: 400;
      text-align: center;
    }
  }
}

.signatureCard {
  background-color: $white;
  min-height: 200px;
  padding: 0;
  p {
    margin-bottom: 0px !important;
  }
  &:hover {
    .btnGroup {
      display: block;
    }
  }
  .btnGroup{
    display: none;
    text-align: center;
    background-color: $primary-color;
    opacity: 0.9;
    position: absolute;
    top: 10px;
    width: 91%;
    height: 92%;
    button{
      margin-top: 20px;
      margin-right: 25px;
      margin-left: 25px;
      width: 120px;
      color: $white;
      border: 1px solid $white;
      background-color: $primary-color;
      text-align: left;
      padding-left: 10%;
      &:hover{
        color: $primary-color;
        border: 1px solid $primary-color;
        background-color: $white;
      }
    }
  }
  .content {
    padding: 10px;
    height: 175PX;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
  .header {
    border-bottom: 1px solid $border-color;
    // color: #f3852c;
    padding: 5px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    // font-weight: 600;
    white-space: nowrap;
  }
  .default {
    background-color: $light-grey-background;
    border-bottom: 1px solid $border-color;
    color: #16935f;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    text-align: center;
  }
  .preview {
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding: 0;
    min-height:25px;
    max-height: 25px;
    align-content: center;
    background-color: $primary-color;
    color: $white;
    border-radius: 2px;
    cursor: pointer;
  }
}

.menuGroup {
  border: none;
}

.pager {
  margin: 3px 0 0 0px;
  float: right;
  display: inline-block;
  li {
    a {
      border-color: $primary-color;
      border-radius: 4px !important;
      color: $text-color;
      outline: none;
      padding: 5px 5px !important;
      span {
        padding: 0px 5px;
        vertical-align: middle;
      }
    }
  }
  .disabled {
    a {
      border-color: $border-color;
      color: $lit-grey-font;
      pointer-events: none;
    }
  }
  .page_no {
    margin: 5px;
    a {
      border-color: $border-color;
      color: $dark-grey;
      font-weight: bold;
      padding: 5px 10px !important;
      pointer-events: none;
    }
  }
}

.page_goto {
  display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
  margin-top: 5px;
	input {
		border: 1px solid $border-color;
		width: 70px;
		border-radius: 2px;
		height: 31px;
		margin: 1px 0 0;
    padding: 0 10px;
    text-align: center;
	}
}

.modal_header {
  background: $dark-grey-background !important;
}

.scroll_overflow {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  word-wrap: break-word;
  padding-right: 15px;
}

.modal_heading {
  // padding: 8px;
  color: $text-color !important;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.signature_preview_scroll {
  min-height: calc(100vh - 550px);
  max-height: calc(100vh - 400px);
  p {
    margin-bottom: 0px !important;
  }
}
@media screen and (min-height: 800px) and (max-height: 900px) {
  .signature_preview_scroll {
    min-height: calc(100vh - 475px);
    max-height: calc(100vh - 400px);
  }
}
@media screen and (min-height: 650px) and (max-height: 800px) {
  .signature_preview_scroll {
    min-height: calc(100vh - 375px);
    max-height: calc(100vh - 375px);
  }
}
@media screen and (max-height: 650px) {
  .signature_preview_scroll {
    min-height: calc(100vh - 275px);
    max-height: calc(100vh - 275px);
  }
}
