@import "../../theme/variables.scss";
.submitButton {
  margin-top: 40px;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: #fff !important;
  margin-bottom: 50px;
}
  
.m_t_b_10 {
  margin-bottom: 10px;
  margin-top: 10px;
}
  
.conatiner {
  background-color: white;
  margin: 14px 14px 0 14px;
  min-height: calc(100vh - 80px);
}

.header {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 40px auto 0 auto;
}

.subheader {
    text-align: center;
    width: 65%;
    margin: 20px auto;
    margin-bottom: 30px !important;
    font-weight: 400;
}
